<!DOCTYPE html>
<html>
    <head>
        <title> Web Page Title </title>
        <link href="C:\Users\User\Desktop\Project\myStyle.css" rel = "stylesheet" type = "text/css">



    </head>
        <body>
         <div style="background-color:Green;">
           <h1> My Goals </h1>
           
           
           <button type="button"
        onclick="document.getElementById('demo').innerHTML = Date()">
        Click me....</button>
        
        <p id="demo"></p>
           
            <table class="center">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
          </tr>
          <tr>
            <td>Jono</td>
            <td>in't Hout</td>
            <td>19</td>
          </tr>
        </table>
           <h2 style="color:DodgerBlue;"> Things I like to do </h2>
           <ul style="list-style-type:none;">
             <li> Video Games </li>
             <li> Bike Riding </li>
             <li> Complex Board Games </li>
             <li> Music </li>
           </ul>
           
           <h2 style="color:Purple;"> ToDos </h2>
           <input type="checkbox" id="checkbox" v-model="checked">
            <label for="checkbox">Complete Draft Proposal</label>
        </p>
            <input type="checkbox" id="checkbox" v-model="checked">
            <label for="checkbox">Assignment 2: Project and PPT</label>
        </p>
            <input type="checkbox" id="checkbox" v-model="checked">
            <label for="checkbox">Assignment 3: Portfolio</label>



</body>
<script src="https://unpkg.com/vue@next"></script>
</html>